<!-- <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Eyetex" value="" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</form> -->
Accesing  the service through Component Class<br>
<button type="button" (click)='getProd1()'>p1</button>
<ul><li *ngFor="let i of prod1">
{{i}}
</li></ul>
<br>
Directly Accesing  the service through HTML<br>
<button type="button" (click)='dService.getP3()'>p3</button>
{{dService.p3.name}} - {{dService.p3.item}} - {{dService.p3.seller}}

<br>
<button type="button" (click)='fetchData()'>webData</button>
<ul><li *ngFor="let i of webdata">
{{i.brand}}
</li></ul>

<button type="button" (click)='insertData()'>InsertData</button>
